<div class="one">
    <audio controls>
        <source src="assets/Doora Hodaru.mpeg">
        MP3
    </audio>
    <video src=""></video>
    <h2 style="color:blue"><b> What is an Angular Application </b></h2>
    <p>
        Angular is an Javascript framework which allow us to create single-page applications. Angular is written in
        TypeScript. It is a platform for building mobile and desktop web applications.
    </p>

    <h4><b> Single-page applications (SPA) </b></h4>
    <p>
        It is an application which has only one HTML page. Here the html page will not change only
        content of the web page will be change. <br>

        Single Page Applications are web applications that load a single HTML page and only a part of the page instead
        of the entire page gets updated with every click of the mouse.
        <strong> Example :</strong> Gmail, Netflix & Facebook.
    </p>

    <h4><b> Advantages of Single-page applications (SPA) </b></h4>
    <ol>
        <li>SPA makes a web application faster and gives the user a reactive experience.</li>
        <li>Using javaScript to change the content of the webpage dynamically is much faster
            than having to reach out to server for every page change and for every new piece of
            data we want to dasplay.
        </li>
        <li>If we do need data from server, we can load it in the background without making
            the webpage unresponsive.
        </li>
        <li>Batter reusability.</li>
        <li>Seamless User Experience.</li>
        <li>Easy debugging.</li>
        <li>Increased Performance.</li>
        <li>Better caching.</li>
        <li>Less complex implementation.</li>
        <li>Uses Less Bandwidth.</li>
    </ol>

    <h4><b> Dis-advantages of Single-page applications (SPA) </b></h4>
    <ol>
        <li>Doesn't Perform Well With SEO. One of the metrics that search engines use is the number of pages a website
            has.
        </li>
        <li>Uses a Lot of Browser Resources. SPAs require many resources from the web browser since the browser is doing
            most of the tasks for the SPAs.
        </li>
        <li> Security Issues.</li>
    </ol>


    <h4><b> Why were client-side frameworks like Angular introduced </b></h4>
    <p> Back in the day, web developers used VanillaJS and jQuery to develop dynamic websites but, as the logic of one's
        website grew, the code became more and more tedious to maintain. For applications that use complex logic,
        developers had to put in extra effort to maintain the separation of concerns for the app. Also, jQuery did not
        provide facilities for data handling across views. <br>

        For tackling the above problems, client-side frameworks like Angular came into the picture, which made life
        easier for the developers by handling the separation of concerns and dividing code into smaller bits of
        information (In the case of Angular, called Components). <br>

        Client-side frameworks allow one to develop advanced web applications like Single-Page-Application. Not that we
        cannot develop SPAs using VanillaJS, but by doing so, the development process becomes slower.
    </p>
    <h4><b> What are some of the advantages of Angular over other frameworks? </b></h4>
    <ol>
        <li> <b> Features that are provided out of the box -</b> Angular provides a number of built-in features like
            routing,
            state management, rxjs library and http servicesstraight out of the box. This means that one does not need
            to look for the above-stated features separately. They are all provided with angular.
        </li>
        <li><b>Declarative UI -</b> Angular uses HTML to render the UI of an application. HTML is a declarative language
            and is
            much easier to use than JavaScript.
        </li>
        <li> <b>Long-term Google support -</b> Google announced Long-term support for Angular. This means that Google
            plans to
            stick with Angular and further scale up its ecosystem.
        </li>
    </ol>
    <h4><b> What are the advantages of Angular over React?</b></h4>
    <img src="assets\angularreact.png" alt="Image not available" width="60%" height="30%"> <br><br>
    <h4><b> List out differences between AngularJS and Angular?</b></h4>
    <img src="assets\angularjs.jpg" alt="Image not available" width="60%" height="30%">

    <h4><b> What are templates in Angular?</b></h4>
    <p>
        A template is a kind of HTML that instructs Angular about how to display a component. An Angular HTML template,
        like conventional HTML, produces a view, or user interface, in the browser, but with far more capabilities.
        Angular API evaluates an HTML template of a component, creates HTML, and renders it.
    </p>
    <p><b>There are two ways to create a template in an Angular component:</b></p>
    <img src="assets\template.jpg" alt="Image not available" width="60%" height="30%"> <br><br>

    <h4><b>Running Angular application</b></h4>
    <img src="assets\working.jpg" alt="Image not available" width="60%" height="30%">

</div>