.one {
    padding: 20px;
    background-color: rgb(237, 236, 236);
}
.header {
    color: white;
    margin: 0 auto;
    padding: 20px 0px;
    height: 100%;
}
.body {
    margin: 0 auto;
}
span {
    padding: 20px;
}
span:hover {
    background-color: rgb(68, 70, 70);
}
